 /** Globally CSS */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
     color: #fffefe;
 }



 html,
 body {
     height: 100%;
     width: 100%;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

/** Connecting Font */

 @font-face {
     font-family: New Font;
     src: url(./fonts/NeueHaasDisplayLight.ttf);
 }



 :root {
     --black: #101011;
     --white: #fffefe;
     --themeColor: #0da34e;
     --border-top-color: #363737;
 }



 nav {
     position: sticky;
     top: 0;
     display: flex;
     align-items: flex-start;
     height: 13vh;
     width: 100%;
     padding: 2vw 7.5vw;
     justify-content: space-between;
     z-index: 99;
     background-color: var(--black);

 }

 .nav-shrink {
     animation: shrink 2s ease forwards;
 }

 @keyframes shrink {
     from {
         height: 13vh;
     }

     to {
         height: 7vh;
     }
 }

 .nav-orginal {
     animation: orginal 1s ease forwards;
 }

 @keyframes orginal {
     from {
         height: 7vh;
     }

     to {
         height: 13vh;

     }
 }


 nav .logo {
     font-size: 1.7vw;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-weight: 500;
 }


 .nav-part2 h4 {
     font-size: .95vw;
     text-transform: uppercase;
     font-weight: 600;
     margin-bottom: 2.6vw;
     transition: all ease .3s;
     cursor: pointer;
 }

 .nav-part2 h4:hover {
     opacity: .5;
 }



 .nav-part2 h5 span {
     font-size: 0.95vw;
     font-weight: 500;
     transform: translateY(25px);
     display: inline-block;
     transition: all ease .3s;
     cursor: pointer;
 }

 .nav-part2 h5 span:hover {
     opacity: .5;
 }

 .nav-part2 {
     display: flex;
     gap: 2vw;
     align-items: flex-start;
     padding: 1vh 0;
     position: relative;
     z-index: 10;
 }

 .nav-part2 h5 {
     margin-bottom: .6vw;
     display: none;
     overflow: hidden;
 }


 nav .homebtn {
     position: relative;
     border: none;
     outline: none;
     background-color: transparent;
     padding: 0vh 0vw 0vh .8vw;
     border-radius: 50px;
     font-weight: 600;
     text-transform: uppercase;
     font-size: 1.1vw;
     margin-right: -3vw;
     display: flex;
     align-items: center;
     justify-content: space-around;
     text-align: left;
     transition: all ease .5s;
     cursor: pointer;
 }

 nav .homebtn::after {
     content: "";
     width: 100%;
     height: 100%;
     background: var(--themeColor);
     position: absolute;
     top: 0;
     right: 5%;
     border-radius: 50px;
     transition: all ease .5s;
     z-index: -1;
 }

 .homebtn:hover.homebtn:after {
     width: 20%;
 }

 nav svg {
     cursor: pointer;
     background: var(--themeColor);
     border-radius: 50px;
     width: 3vw;
     margin-left: .5vw;

 }

 .nav-bottom {
     width: 89%;
     height: 0vh;
     position: absolute;
     top: 100%;
     background-color: var(--black);
     z-index: 9;
     border-bottom: 1px solid var(--white);
 }

 #page1 {
     width: 100%;
     min-height: 100vh;
     background-color: var(--black);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 #page1 h1 {
     text-transform: uppercase;
     font-weight: 700;
     font-size: 9vw;
     line-height: 6rem;
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

 }

 .char {
     transform: translateY(250px);
     transition: transform .5s;
 }

 #page1 h1 svg {
     background-color: var(--themeColor);
     border-radius: 50%;
     transition: all ease .5s;
     cursor: pointer;
     width: 6.5vw;
 }

 #page1 h1 svg:hover {
     transform: rotate(-25deg) scale(.8);

 }

 #page1 p {
     margin-top: 10vh;
     font-weight: 500;
     font-size: 1.2vw;
     width: 30%;
     text-align: center;
     margin-bottom: .5vh;
 }

 .categories {
     display: inline-block;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #page1 h5 {
     font-weight: 500;
     font-size: 1.2vw;
     padding: 1vh 7.1px;
     border: 1px solid #dadada;
     border-radius: 50px;
 }

 #page1 h5:nth-child(3) {
     border: none;
 }

 #moving-div {
     margin-top: 10vh;
     position: absolute;
     bottom: 3%;
     white-space: nowrap;
     padding: 1.2vw;
     overflow: hidden;
     width: 44%;
 }

 #moving-div {
     margin-top: 10vh;
     position: relative;
     bottom: 3%;
     white-space: nowrap;
     padding: 1.2vw;
     overflow: hidden;
     width: 44%;

 }

 #moving-div .move {
     display: inline-block;
     animation-name: mobe;
     animation-duration: 10s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }

 #moving-div .move img {
     height: 1vw;
     margin: 0 1.2vw;
 }

 @keyframes mobe {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(-100%);
     }

 }

 #blur-left {
     height: 100%;
     width: 20%;
     background: linear-gradient(to right, #111, transparent);
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
 }

 #blur-right {
     height: 100%;
     width: 20%;
     background: linear-gradient(to right, transparent, #111);
     position: absolute;
     top: 0;
     right: 0;
     z-index: 2;
 }

 #page2 {
     width: 100%;
     min-height: 100vh;
     background: var(--black);

 }

 .page2-main-content {
     margin: 0vh 7.5vw;
     border-top: 1px solid var(--border-top-color);
     display: flex;
 }

 .page2-left {
     width: 50%;
     height: 80vh;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     flex-direction: column;
     padding-top: 5vh;
 }

 .page2-left h5 {
     font-weight: 500;
     font-size: 1.1vw;
 }

 .page2-left p {
     font-weight: 500;
     font-size: 1.3vw;
     width: 70%;
     text-align: left;
     color: var(--white);
 }


 .page2-right {
     width: 60%;
     height: 120vh;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
 }

 .image-effect-div {
     display: flex;
     align-items: flex-start;
     width: 100%;
     height: 25%;
     border-top: 1px solid var(--border-top-color);
     padding-top: 3vh;
     transition: all ease .3s;
 }

 .image-effect-div:hover {
     border-top: 1px solid white;
     cursor: pointer;
 }


 .image-effect-div:hover.image-effect-div svg {
     transform: translate(110%, -110%);
 }

 .page2-right svg {
     width: 1.1vw;
     position: relative;
     padding: 3px 0px 2px 2px;
     transition: all ease-in .2s;

 }

 #hiddenArrow {
     position: absolute;
     top: 100%;
     left: -81%;
 }

 .arrow {
     width: 20px;
     height: 20px;
     overflow: hidden;
     /* border: 1px solid white; */
     border-radius: 50%;
     position: relative;
     z-index: 9;

 }

 .page2-right h2 {
     font-size: 1.6vw;
     font-weight: 500;
     padding-right: 180px;
     width: 80%;
 }

 .image-effect-div p {
     font-size: .9vw;
     font-weight: 500;
     padding-right: 10px;
     color: #666666;
 }

 .image-effect-div img {
     width: 100px;
     height: 100px;
     object-fit: cover;
     border-radius: 50%;
     display: none;
     position: absolute;
     z-index: 10;
 }

 .video-page {
     width: 100%;
     height: 100vh;
     position: relative;
 }

 .video-page-content {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
 }

 .video-page-content img {
     object-fit: cover;
     position: absolute;
 }

 .video-page-content video {
     width: 100%;
     height: 100%;
     position: absolute;
     object-fit: cover;
     transform: scaleX(0.7) scaleY(0);
     opacity: 0;
     border-radius: 30px;
 }

 .video-page-content .play-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: absolute;
 }

 .play-icon i {
     padding: 60px;
     font-size: 33px;
     background: var(--white);
     color: var(--black);
     border-radius: 50%;
     cursor: pointer;
 }

 .play-icon p {
     color: var(--black);
     padding: .9vh .9vw;
     font-weight: 450;
     border-radius: 50px;
     background: var(--white);
     opacity: 0;
     margin-top: 10px;
     font-size: .9vw;
     text-transform: uppercase;
 }

 #page3 {
     width: 100%;
     min-height: 100vh;
     position: relative;
     background-color: var(--white);

 }

 .page3-upper {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .page3-left {
     display: flex;
     padding: 15vh 5.5vw;
     width: 50%;
     height: 100%;
 }

 .page3-left h1 {
     color: var(--black);
     font-size: 3.5vw;
     font-weight: 500;
     line-height: 8vh;
     text-transform: capitalize;
     text-align: justify;
 }

 .page3-right {
     width: 50%;
     height: 100%;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
     padding: 12vh 0vw;
 }

 .page3-right h6 {
     font-size: 1vw;
     font-weight: 400;
     color: #a4a4a5;
     margin: 5vh 0vw;

 }

 .page3-right p {
     color: var(--black);
     font-size: 1.7vw;
     width: 90%;
     font-weight: 400;
 }

 .page3-down {
     width: 100%;
     min-height: 100vh;
     padding: 0vh 5vw;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1vw;
     flex-wrap: wrap;
 }

 .page3-boxes {
     width: 30%;
     height: 43vh;
     background-color: #f4f4f5;
     display: flex;
     flex-direction: column;
     padding: 4vh 2vw;
 }

 .page3-boxes h1,
 p {
     color: var(--black);
 }

 .page3-boxes h1 {
     font-size: 5vw;
     font-weight: 400;
     margin-bottom: 2vh;
 }

 .page3-boxes p {
     margin-bottom: 17vh;
 }

 .page3-boxes span {
     color: var(--black);
 }

 #afterbox {
     width: 100%;
     height: 70vh;
     padding-top: 20vh;
     position: relative;
 }

 .page3-down #afterbox p span {
     color: var(--black);
     font-size: 1vw;
     font-weight: 500;
     opacity: .7;
     margin-right: 10vw;
 }

 .page3-down #afterbox p span:nth-child(1) {
     display: block;
     margin-bottom: -15px;
 }

 .page3-down #afterbox p {
     color: var(--black);
     font-size: 2.5vw;
     font-weight: 400;
     width: 62%;
     float: right;
 }

 #page4 {
     width: 100%;
     min-height: 160vh;
     padding: 5vh 3vw 0vh 8vw;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     row-gap: 100px;
 }

 .page4-section {
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
 }

 .page4-content {
     cursor: pointer;
     max-width: 30%;
     height: 100%;
     display: flex;
     align-items: start;
     justify-content: start;
     flex-direction: column;
     text-align: left;
     border-top: 2px solid rgba(128, 128, 128, 0.151);
     transition: all ease-in-out .2s;
 }

 .page4-content:hover {
     border-top: 2px solid var(--black);
     cursor: pointer;
 }

 .page4-content h1 {
     font-size: 2.6vw;
     font-weight: 400;
     color: var(--black);
     opacity: .96;
     padding: 6vh 0vw 12vh 0vw;
     position: relative;
 }

 .page4-content p {
     text-align: left;
     width: 90%;
     font-size: 1.3vw;
     font-weight: 1vw;
     color: var(--black);
 }


 #page4 .page4-image1 {
     width: 70%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     z-index: 30;
     transition: .8s transform cubic-bezier(.16, 1, .32, 1);

 }

 #page4 .page4-image2 {
     width: 70%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     z-index: 30;
     transition: .8s transform cubic-bezier(.16, 1, .32, 1);
 }

 .page4-image1 img,
 video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
 }

 .page4-image2 img,
 video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
 }

 .page4-image1 img {
     z-index: 10;
     display: block;
 }

 .page4-image1 video {
     position: relative;
     z-index: 5;
 }

 .page4-image2 img {
     z-index: 10;
     display: block;
 }

 .page4-image2 video {
     z-index: 5;
 }

 .page4-content i {
     color: var(--black);
     font-size: 1.5vw;
     font-weight: 500;
     margin-left: 30px;
     transition: all ease .2s;
 }

 .page4-content i:nth-child(2) {
     position: absolute;
     top: 36.5%;
     left: 90%;
     opacity: 0;
 }

 .page4-content i:nth-child(1) {
     position: absolute;
     top: 30%;
     left: 100%;
 }

 .page4-content:hover.page4-content h1 i:nth-child(1) {
     transform: translate(50%, -50%);
     opacity: 0;
 }

 .page4-content:hover.page4-content h1 i:nth-child(2) {
     transform: translate(50%, -50%);
     opacity: 1;
 }

 .page4-content button {
     width: 15vw;
     height: 50px;
     margin-top: 17vh;
     border: none;
     border-radius: 50px;
     background-color: #4f5bff;
     color: var(--white);
     font-size: 1vw;
     font-weight: 500;
     text-transform: uppercase;
     cursor: pointer;
     transition: all ease.2s;
 }

 .videoCursor1,
 .videoCursor2 {
     display: flex;
     align-items: center;
     transform: scale(0);
     justify-content: space-between;
     flex-direction: column-reverse;
     width: 170px;
     height: 170px;
     position: absolute;
     top: 0;
     left: 0;
     background: #4f5bff;
     border-radius: 50%;
     z-index: 40;
 }

 .videoCursor1 p {
     color: var(--white);
     font-size: 1.25vw;
     font-weight: 500;
     align-self: center;
     transform: translate(-10px, -25px);
 }

 .videoCursor1 i {
     color: var(--white);
     font-size: 1.5vw;
     transform: translate(45px, 25px);
 }

 .videoCursor2 p {
     color: var(--white);
     font-size: 1.25vw;
     font-weight: 500;
     align-self: center;
     transform: translate(-10px, -25px);
 }

 .videoCursor2 i {
     color: var(--white);
     font-size: 1.5vw;
     transform: translate(45px, 25px);
 }

 .page4-last {
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: end;
     column-gap: 50px;
 }

 .metastaq {
     width: 31.5%;
     height: 55vh;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     position: relative;
     border-top: 2px solid rgba(128, 128, 128, 0.153);
     transition: all ease .3s;
 }

 .metastaq:hover {
     border-top: 2px solid var(--black);
     cursor: pointer;
 }

 .metastaq h1 {
     margin: 18px 10px 80px 10px;
     font-weight: 400;
     color: var(--black);
 }

 .metastaq p {
     color: var(--black);
 }


 .metastaq i {
     color: var(--black);
     font-size: 1.5vw;
     font-weight: 500;
     margin-left: 30px;
     transition: all ease .2s;
 }

 .metastaq i:nth-child(1) {
     position: absolute;
     top: 9%;
     right: 49%;
 }

 .metastaq i:nth-child(2) {
     position: absolute;
     top: 11.5%;
     right: 51.1%;
     opacity: 0;
 }

 .metastaq:hover.metastaq h1 i:nth-child(1) {
     transform: translate(50%, -50%);
     opacity: 0;
 }

 .metastaq:hover.metastaq h1 i:nth-child(2) {
     transform: translate(50%, -50%);
     opacity: 1;
 }

 .metastaq:hover .metashtaq-content {
     transform: scaleY(2);
     background-color: red;
 }

 .metashtaq-content {
     width: 100%;
     height: 40vh;
     transform: scaleY(1);
     transform-origin: top;
     transition: all ease .5s;
     background-color: lightblue;
     position: absolute;
     z-index: 100;

 }

 .metastaq figure img {
     width: 100%;
     height: 100%;
 }

 .metastaq figure video {
     width: 100%;
     height: 100%;
 }

 .Sight figure {
     width: 100%;
     height: 100%;
 }

 .Sight figure img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .Sight figure video {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .Sight {
     width: 31.5%;
     height: 55vh;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     position: relative;
     border-top: 2px solid rgba(128, 128, 128, 0.153);
 }

 .Sight p {
     color: var(--black);
 }

 .Sight h1 {
     margin: 18px 10px 80px 10px;
     font-weight: 400;
     color: var(--black);
 }

 .Sight i {
     color: var(--black);
     font-size: 1.5vw;
     font-weight: 500;
     margin-left: 30px;
     transition: all ease .2s;
 }

 .Sight i:nth-child(1) {
     position: absolute;
     top: 6%;
     right: 59%;
 }

 .Sight i:nth-child(2) {
     position: absolute;
     top: 7.5%;
     right: 61.1%;
     opacity: 0;
 }

 .Sight:hover.Sight h1 i:nth-child(1) {
     transform: translate(50%, -50%);
     opacity: 0;
 }

 .Sight:hover.Sight h1 i:nth-child(2) {
     transform: translate(50%, -50%);
     opacity: 1;
 }